.masonry{
    column-count: 4;
    column-gap: 1em;
    
}

.item{
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
 
}

.item img{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
