.masonry{
    column-count: 4;
    column-gap: 1.5em;
    
}

.item{
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
 
}

.item img{
    width: 100%;
   border-radius: 7px;
}

.container{
  margin-left: 130px;
  margin-right: 130px;
  margin-top:40px;
}