
.image{
   width: 30px;
    height: auto;
    padding-left: 15px;
}
.Logo{
    width: 5%;
    height: auto;
    margin: auto;
    
}
.navbar{
    display: flex;
    margin-top: 15px;
   
}

.Search{
    width: 50%;
    height: auto;
}

.Search input{
    width: 180%;
    height: 100%;
    border: 0;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    padding-left: 10px;
    font-weight: bolder;
    font-size: 100%;
    margin-left: 20px;
    
}

